.chat-room__main__box__message
  .chat-room__main__box__message__info
    .chat-room__main__box__message__info__name 
      = message.user.name
    .chat-room__main__box__message__info__date 
      = message.created_at.strftime("%Y/%m/%d %H:%M")
  .chat-room__main__box__message__text
    - if message.content.present?
      %p.chat-room__main__box__message__text__letter
        = message.content
    = image_tag message.image.url, class: 'chat-room__main__box__message__text__image' if message.image.present?
