!!!
%html{lang: "ja"}
  %head
    %meta{charset: "utf-8"}
  %body

    .wrapper
      .side-menu
        .side-menu__header
          %p テストユーザー
          %i.fa.fa-cog
          %i.fas.fa-edit
        .side-menu__groups
          = render "group"
          = render "group"