!!!
%html{lang: "ja"}
  %head
    %meta{charset: "utf-8"}
  %body

    .wrapper
      .side-menu
        .side-menu__header
          .user
            %p.user__name テストユーザー
          .icon
            .icon__gear
              %i.fa.fa-cog
            .icon__edit
              %i.fas.fa-edit
        .side-menu__groups
          = render "group"
          = render "group"