.chat-room__main__box__message
  .chat-room__main__box__message__info
    .chat-room__main__box__message__info__name テストユーザー
    .chat-room__main__box__message__info__date 2019/09/14(Sut) 18:00:00
  .chat-room__main__box__message__text Hello!
