@import "./variable";

.wrapper {
  display: flex;
  position: relative;
  height: 100vh;
  .chat-room {
    width: calc(100vw - 300px);
    &__header {
      height: 100px;
      width: $width-chat;
      padding: $padding-chat;
      border-bottom: 1px solid #eeeeee;

      &__group {
        display: inline-block;
        padding-top: 35px;

        &__name {
          font-size: 20px;
          color: $headerGroupNameColor;
          padding-bottom: 15px;
        }

        &__member {
          font-size: 12px;
          color: $subTextColor;
        }
      }
      &__edit {
        height: 40px;
        padding: 0 20px;
        margin-top: 28px;
        float: right;
        border: 1px solid $mainBlueColor;
        color: $mainBlueColor;
        font-style: normal;
        text-decoration: none;
        line-height: 38px;
      }
    }

    &__main {
      height: calc(100vh - 190px);
      width: $width-chat;
      background-color: $mainSpaceColor;
      padding: $padding-chat;

      &__box {
        padding-top: 26px;

        &__message {
          padding: $padding-main;

          &__info {
            display: flex;
            padding-bottom: 10px;

            &__name {
              font-size: 16px;
              font-weight: bold;
              color: $messageColor;
              padding-right: 10px;
            }

            &__date {
              font-size: 12px;
              color: $subTextColor;
            }
          }

          &__text {
            font-size: 14px;
            color: $messageColor;
          }
        }
      }

    }

    &__post {
      height: 90px;
      width: $width-chat;
      background-color: gray;
      position: absolute;
      bottom: 0;
      padding: $padding-chat;
    
    }
  }
}