.side-menu {
  width: 300px;
  height: 100vh;
  color: #ffffff;
  padding: 0 20px;

  &__header {
    height: 100px;
    display: flex;

    .user {
      width: 220px;
      &__name {
        font-size: 16px;
        font-weight: bold;
        line-height: 100px;
      }
    }

    .icon {
      display: flex;
      width: 40px;
      line-height: 100px;
      justify-content: flex-end;

      &__gear {
        padding-right: 5px;
      }
    }
  }
}
