$sideMenuColor: #2f3e51;
$sideMenuHeaderColor: #253141;
$mainSpaceColor: #fafafa;
$mainBlueColor: #38aef0;
$mainTextColor: #ffffff;
$subTextColor: #999999;
$messageColor: #434a54;
$headerGroupNameColor: #333333;
$headerBorderColor: #eeeeee;
$alartOrenge: #F35500;

$width-chat: calc(100vw - 300px);

$padding-side: 0 20px;
$padding-chat: 0 40px;
$padding-main: 20px 0;