$sideMenuColor: #2f3e51;
$sideMenuHeaderColor: #253141;
$mainBlueColor: #38aef0;
$mainTextColor: #ffffff;
$headerGroupNameColor: #333333;
$headerMemberColor: #999999;
$mainSpaceColor: #fafafa;

$width-chat: calc(100vw - 300px);
$padding-side: 0 20px;
$padding-chat: 0 40px;